*.depend
*.layout

bin/
obj/
build/

*.o
*.obj
*.out
*.exe

*.d

*.tmp
*.temp
*.log
*.bak
*.swp
*~

.vscode/
.idea/

.DS_Store
Thumbs.db
Desktop.ini

*.cache

!third_party/SDL2/bin/
!third_party/SDL2/bin/SDL2.dll